# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [80]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [81]:
file_to_load = "city_data.csv"

raw_city_data = pd.read_csv(file_to_load)

raw_city_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind speed,Country,Date
0,ushuaia,-54.8000,-68.3000,53.60,54,75,8.05,AR,1609901907
1,hofn,64.2539,-15.2082,36.91,79,100,9.53,IS,1609901907
2,albany,42.6001,-73.9662,32.00,81,89,4.54,US,1609901907
3,tazovskiy,67.4667,78.7000,-14.28,89,80,12.50,RU,1609901907
4,jamestown,42.0970,-79.2353,33.01,92,90,5.82,US,1609901907

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [82]:
gmaps.configure(api_key = g_key)

figure_layout = {"width": "500px",
                 "height": "500px",
                 "boarder": "1px solid black",
                 "padding": "1px",
                 "margin": "0 auto 0auto"}
fig = gmaps.figure(layout=figure_layout)

heatmap_layer = gmaps.heatmap_layer(
    raw_city_data[['Lat', 'Lng']], weights=raw_city_data['Humidity'],)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='500px', margin='0 auto 0auto', padding='1px', width='500px'))

In [83]:
#improves zoom fuctionality
heatmap_layer.max_intensity = 100
heatmap_layer.point_radius = 5

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [84]:
#Narrow down the cities to fit weather conditions
good_weather = raw_city_data[raw_city_data["Max Temp"] < 80]
good_weather = good_weather[good_weather["Max Temp"] > 70]
good_weather = good_weather[good_weather["Wind speed"] < 10]
good_weather = good_weather[good_weather["Cloudiness"] == 0]

hotel_df = good_weather

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [85]:
#adds locatons for new data to sit
hotel_df["Hotel Name"] = ""
hotel_df["Hotel Lat"] = ""
hotel_df["Hotel Lng"] = ""
#isolates coordinates for API request
coord = hotel_df[["Lat", "Lng"]]

hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind speed,Country,Date,Hotel Name,Hotel Lat,Hotel Lng
67,saint-philippe,-21.3585,55.7679,77.00,69,0,5.82,RE,1609901914,,,
84,west bay,19.3667,-81.4167,77.00,73,0,6.93,KY,1609901915,,,
88,quelimane,-17.8786,36.8883,78.80,88,0,2.24,MZ,1609901916,,,
95,puerto carreno,6.1890,-67.4859,77.86,69,0,7.90,CO,1609901916,,,
101,ati,13.2154,18.3353,71.19,21,0,9.60,TD,1609901917,,,

In [86]:
name_list = []
lat_list = []
lng_list = []
for index , row in coord.iterrows():
    lat = (row["Lat"]) 
    lng = (row["Lng"]) 
    LOCATION = str(lat) + "," + str(lng)
    RADIUS = 5000
    KEYWORD = "lodging"
    AUTH_KEY = g_key


    MyUrl = ('https://maps.googleapis.com/maps/api/place/nearbysearch/json'
                   '?location=%s'
                   '&radius=%s'
                   '&type=%s'
                   '&sensor=false&key=%s') % (LOCATION, RADIUS, KEYWORD, AUTH_KEY)
    response = requests.get(MyUrl).json()
    try:
        h_name = response["results"][0]["name"]
        h_lat = response["results"][0]["geometry"]["location"]["lat"]
        h_lng = response["results"][0]["geometry"]["location"]["lng"]
    except:
        h_name = np.nan
        h_lat = np.nan
        h_lng = np.nan
        
        print("city not found.skipping")
        pass    
        
    name_list.append(h_name)
    lat_list.append(h_lat)
    lng_list.append(h_lng)

city not found.skipping
city not found.skipping
city not found.skipping
city not found.skipping

In [87]:
#puts data from API into the hotel_df dataframe in there respective column
hotel_df["Hotel Name"] = name_list
hotel_df["Hotel Lat"] = lat_list
hotel_df["Hotel Lng"] = lng_list


hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind speed,Country,Date,Hotel Name,Hotel Lat,Hotel Lng
67,saint-philippe,-21.3585,55.7679,77.00,69,0,5.82,RE,1609901914,"Chambres d'hôte ""La Trinité""",-21.358434,55.770322
84,west bay,19.3667,-81.4167,77.00,73,0,6.93,KY,1609901915,Calypso Cove,19.370238,-81.402709
88,quelimane,-17.8786,36.8883,78.80,88,0,2.24,MZ,1609901916,Hotel Flamingo,-17.880454,36.887034
95,puerto carreno,6.1890,-67.4859,77.86,69,0,7.90,CO,1609901916,Casa Hotel Victoria,6.188846,-67.483564
101,ati,13.2154,18.3353,71.19,21,0,9.60,TD,1609901917,NaN,NaN,NaN

In [88]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [89]:
# Add marker layer ontop of heat map

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='500px', margin='0 auto 0auto', padding='1px', width='500px'))